version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"  
    depends_on:
      - backend
    environment:
      - WATCHPACK_POLLING=true

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - .env     